.back-market{
  background-image: url(../svg/marketBack.svg);
  background-position: center -650px;
}

// elements
.m-active{
  color: var(--btn-standart);
}
// element
.slider-mCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 35px 0;
}
.mCards-item{
  // background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 310px;
  // background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(143,182,142,1) 100%);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  .mCard-item_blur{
    height: 310px;
    
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .mCards-item-inner{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(48, 52, 55, 0.6);
    
    .card-text{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
  .mCards-info{
    display: flex;
    justify-content: space-between;
  }
  .mCards-info_status{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.m-search{
  position: relative;
  max-width: 830px;
}

// filter
.filter-m{
  display: flex;
  align-items: center;

}

// filter

// table
.table-m{
  position: relative;
  margin-top: 60px;
  border-radius: 10px;
  padding: 20px;
  height: 530px;
  background: var(--back-secondary);
  // background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
  // .btn{
  //   margin: 0 auto;
  // }
}
.table-m-sort{
  display: flex;
  // position: relative;
  // left: 0;
}
// tabs
.tabs{
  &.tabs-m{
    width: 500px;
    .tabs-controller{
      border-bottom: 3px solid var(--text-main);
      .glider{
        height: 5px;
        background: var(--btn-standart);
        // left: 0!important;
      }
      .tab-item{
        font-size: 14px;
        width: 20%;
        color: var(--text-main);
        &.checked{
          color: var(--btn-standart);
        }
      }
    }
  }
}

.table-m-content{
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  .table-m-item{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    div{
      display: flex;
      justify-content: center;
    }
  }
  .table-m-item:nth-child(2n) {
    background: var(--back-blur);
  }
}
// table
// small cards
.mCards-small{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

// перепиши нормально
.btn-block{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  .btn{
    width: 300px;
  }
}