.personal-inner {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-gap: 25px;
  // height: 100vh;
  margin: 0 15px;
  // position: relative;
  // z-index: 1000;
  // margin-top: -72px;
}

// another elements
.inner-add {
  .add {
    width: 30;
    height: 30;
    font-size: 50;
  }
}

.add {
  background: var(--green);
  color: var(--text-main);
  border-radius: 10px;
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

// another elements

// sidebar
.sidebar {
  display: flex;
  flex-direction: column;
  background: $dashboard;
  padding: 30px;
  overflow-y: scroll;
}

// scrollbar for sidebar
.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--back-primary);
}

.sidebar::-webkit-scrollbar-thumb {
  background: $green-light;
  border-radius: 8px;
  border: 1px solid var(--back-primary);
}

.nums {
  font-family: $inter;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 30px;
  text-align: center;
}

.num_big {
  font-weight: 600;
  font-size: 58px;
  line-height: 70px;
  grid-column: 1 / span 2;
}

.num_small {
  color: $green-light;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;

  &:nth-child(1) {
    grid-row: 2;
    grid-column: 1;
  }

  &:nth-child(1) {
    grid-row: 2;
    grid-column: 2;
  }
}

.nums-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  justify-items: center;

  .num_big {
    grid-column: 1;
  }
}

.sidebar-item {
  cursor: pointer;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.sidebar-icon {
  margin-right: 15px;
  max-height: 20px;
}

.sidebar-item:hover .sidebar-icon {
  filter: $filterOlive;
}

.sidebar-item:hover {
  color: var(--green);
}

.sidebar-item_active {
  color: var(--green);

  .sidebar-icon {
    filter: $filterOlive;
  }
}

.sidebar-out {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;

  img {
    margin-left: 10px;
  }
}

.sidebar-out:hover {
  color: $olive;
}

.sidebar-out:hover img {
  filter: $filterOlive;
}

.sidebar-btns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.btn-empty {
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  color: $white;
  background: transparent;
  text-align: center;
  border: 1px solid $grey;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

// sidebar

// header
.personal-header {
  display: flex;
  justify-content: space-between;
}

.user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  align-items: center;
}

.user-card {
  display: flex;

  img {
    margin-right: 15px;
    max-height: 40px;
    // width: 100%;
  }

  .user-name {
    display: flex;
    flex-direction: column;

    .user-name_wel {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: $olive;
    }

    .user-name_name {
      font-family: $inter;
      font-weight: 600;
      font-size: 20px;
      position: relative;
    }

    .notice {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      background: var(--blue);
      position: absolute;
      top: 0;
      right: -25px;
      border-radius: 50%;
    }
  }
}

.text-underline {
  text-decoration: underline var(--text-main);
}

.upgrade {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: 1px solid $grey;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

// header

// content
.personal-main {
  position: relative;
  padding-top: 20px;
  z-index: 1;

  .circle-effect {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 200px 125px #1e6978;
    z-index: -5;
  }

  .circle-effect1 {
    bottom: 30%;
    left: 25%;
  }

  .circle-effect2 {
    top: 30%;
    right: 25%;
  }
}

.personal-content {
  padding: 15px;
}

// main page
.main {
  .general-title {
    text-align: left;
  }
}

.main-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: 270px;
  grid-gap: 15px;
}

.blocks-item {
  background: var(--back-blur);
  -webkit-backdrop-filter: blur(10px);
  background-blend-mode: overlay;
  backdrop-filter: blur(7px);
  border-radius: 20px;
  padding: 15px;
  font-family: $inter;

  .user-profile {
    position: relative;
  }

  &.interesting {
    grid-row: 1;
    grid-column: 2 / span 3;
    position: relative;
  }

  &.news {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  &.bag {
    display: flex;
    justify-content: center;
    align-items: center;

    .nums {
      padding-bottom: 0;
    }
  }

  &.graph {
    padding: 0;
    height: 270px;
    background: url('/src/assets/images/personal/grafik.png') no-repeat;
    background-position: center center;
    background-size: cover;

    .blur {
      height: 100%;
      border-radius: 20px;
    }
  }

  &.circle-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/src/assets/images/personal/circleGraph.png') no-repeat;
    background-position: center center;

    .blur {
      height: 100%;
      border-radius: 20px;
      background: rgba(48, 52, 55, 0.8);
    }
  }

  &.news {
    height: 410px;
    position: relative;
  }

  .user-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }

  .btn {
    width: 100%;
    font-size: 14px;
  }
}

.bag-value {
  position: relative;

  .arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  .arr-left {
    left: -35%;
  }

  .arr-right {
    right: -35%;
  }
}

.wallet {
  .bag-value {
    .arr-left {
      left: 0;
    }

    .arr-right {
      right: 0;
    }
  }

}

.user-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.text-category {
  position: absolute;
  top: 15px;
  left: 15px;
}

.soon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: $conthrax;
}

// main page

// wallet
.blocks-item {
  &.wallet {
    grid-row: 1 / span 2;
    grid-column: 1;
  }

  &.reward {
    grid-row: 1;
    grid-column: 2 / span 3;
    // display: grid;
    // grid-template-columns: 7fr 2fr;
    grid-gap: 10px;
  }

  &.lock {
    grid-row: 2;
    grid-column: 2 / span 3;
    // display: grid;
    // grid-template-columns: 7fr 2fr;
  }
}

.row-block {
  display: flex;
  justify-content: space-between;
}

.block-title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
}

.icon-points {
  margin-left: 10px;
}

.wallet-btns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.btn-white {
  background: var(--text-main);
  color: #696969;
  height: 40px;
}

.text-red {
  color: #DB375E;
}

.reward-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// wallet

// portfolio
.main-blocks {
  &.portfolio {
    .blocks-item {
      display: grid;

      &:first-child {
        grid-row: 1 / span 2;
        grid-column: 1;

        img {
          justify-self: center;
        }
      }

      &:nth-child(2) {
        grid-row: 1 / span 3;
        grid-column: 2 / span 3;
        display: block;

        img {
          justify-self: center;
        }
      }

      &:nth-child(4) {
        grid-row: 4;
        grid-column: 1 / span 3;
        // height: 400px;
      }
    }
  }
}

.project-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.project-logo {
  color: var(--orange);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  font-family: $conthrax;
}

.project-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.title-block {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  position: relative;
}

// checkbox
.blocks-item_check {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    display: none;
  }

  label {
    border: 1px solid var(--text-main);
    border-radius: 2px;
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
  }

  .icon-done {
    filter: var(--filterWhite);
    width: 15px;
  }
}


// portfolio

// refferal
.main-blocks {
  &.referral {
    .blocks-item {
      display: grid;

      &:first-child {
        grid-row: 1;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 1;
        grid-column: 2 / span 3;
      }

      &:nth-child(3) {
        grid-row: 2 / span 3;
        grid-column: 1 / span 3;

        img {
          width: 175px;
          height: 175px;
          justify-self: center;
        }
      }

      &:nth-child(4) {
        grid-row: 5;
        grid-column: 1 / span 3;
        height: 400px;
      }

      &.platform {
        background: url(/src/assets/images/personal/elPlatform.png) no-repeat;
        background-position: center center;

        // background-size: contain;
        .blur {
          background: rgba(48, 52, 55, 0.7);
          backdrop-filter: blur(2.5px);
          border-radius: 20px;
        }

        .title-block {
          z-index: 2;
        }
      }
    }
  }
}

.ref-general {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.block-table {
  .block-table_row {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr 1fr 1fr 0.5fr;
    grid-gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    justify-items: center;

    &:nth-child(2n) {
      background: var(--back-blur);
    }

    & span:first-child {
      justify-self: flex-start;
    }
  }

}

// refferal

// bookmarks
.bookmarks-inner {
  display: grid;
  grid-gap: 15px;
}

.bookmarks-item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 8px;

  &:nth-child(2n) {
    background: var(--back-blur);
  }

  .user-card {
    align-items: center;
  }

  .btn {
    width: 100%;
  }
}

.btn-transparent {
  border-radius: 10px;
  background: transparent;
  color: var(--text-main);
  border: 1px solid var(--text-main);
  height: auto;
}

// bookmarks

// profile
.main-blocks {
  &.profile {
    .blocks-item {
      grid-column: 1 / span 3;

      .profile-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        align-items: flex-start;
      }

      &:nth-child(2) {
        height: 200px;
        position: relative;
      }

      &.wallets {
        background: url(/src/assets/images/personal/wallets.png) no-repeat;
        background-position: center center;

        .title-block {
          z-index: 2;
        }

        .blur {
          border-radius: 20px;
          background: rgba(48, 52, 55, 0.7);
        }
      }
    }

    .userDate {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }

    .dailyReward {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .nums {
        padding-bottom: 20px;
      }
    }

    .recentLogins {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .recentLogins-inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .recentLogins-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// profile

// forma admin
.personal-form {
  background-blend-mode: overlay;
  border-radius: 20px;
  position: relative;
  padding: 35px;
  background: var(--back-blur);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(7px);
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.picture {
  cursor: pointer;
  border-radius: 8px;

  img {
    border-radius: 8px;
    max-width: 100%;
  }
}

.picture input {
  display: none;
}

.picture label {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture input[name="picture"]:checked+label {
  border: 2px solid $green-light;
  border-radius: 8px;
}

.picture input[name="logo"]:checked+label {
  border: 2px solid $green-light;
  border-radius: 8px;
}

.wrap-logo {
  display: flex;
  flex-direction: row;

  .picture {
    margin-right: 15px;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.form-item textarea {
  resize: none;
}

.personal-input {
  width: 100%;
}

.social-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.social-item {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  // filter: invert(44%) sepia(82%) saturate(2%) hue-rotate(337deg) brightness(96%) contrast(82%);
}

// content
// error modal
.wrap-err {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 35px;
  background-color: rgba(255, 0, 0, 0.5);
  color: $back-secondary;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  border: 1px solid rgba(128, 0, 0, 1);
  max-width: 600px;
  border-radius: 10px;
  font-family: $conthrax;
}

// forma admin
@media(max-width: 992px) {

  // card
  .card-item {
    .info {
      padding: 15px;
      grid-gap: 0;

    }
  }

}

@media(max-width: 767px) {

  // sidebar
  .personal-inner {
    margin: 0 15px;
    grid-gap: 15px;
    grid-template-columns: 3fr 7fr;
  }

  .sidebar {
    padding: 15px;
  }

  .sidebar-item a {
    padding: 10px 0;
    font-size: 14px;
  }

  .nums {
    .num_big {
      font-size: 36px;
      line-height: 60px;
    }

    .num_small {
      font-size: 14px;
    }
  }

  .btn-empty {
    font-size: 10px;
    padding: 5px 0;
  }

  // sidebar

  // header content
  .personal-header {
    flex-direction: column;

    .header-btns {
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  // header content
}

@media(max-width: 600px) {

  // sidebar
  .sidebar {
    width: fit-content;
  }

  .nums {
    display: none;
  }

  .sidebar-icon {
    height: 30px;
    margin-right: 0;
  }

  .sidebar-item a span {
    display: none;
  }

  .sidebar-btns {
    display: none;
  }

  .sidebar-out {
    display: none;
  }

  // sidebar
}

@media(max-width: 464px) {}