// card
.back-secondary{
  background: var(--back-secondary);
  padding-top: 25px;
}
.card-project{
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 35px;
  grid-template-areas: 
    'name rang'
    'image about';
  .company-title{
    font-size: 36px;
    line-height: 32px;
    word-wrap: break-word;
  }
  .statuses{
    padding: 0;
  }
}
.project-name{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-area: name;
  .company{
    img{
      margin-right: 20px;
    }
  }
}
.project-rang{
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  font-family: $conthrax;
  grid-area: rang;
  .rang{
    padding-left: 15px;
  }
}
.project-rang-vertical{
  display: flex;
  flex-direction: column;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  font-weight: 600;
  font-family: $conthrax;
}
.card-project-img{
  img{
    grid-area: image;
    width: 100%;
  }
}
.about-project{
  position: relative;
  background: var(--back-blur);
  background-blend-mode: overlay;
  // opacity: 0.25;
  grid-area: about;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(7px);
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .btn{
    width: 100%;
    height: 3.5rem;
  }
  .info-bell{
    top: 20px;
    right: 35px;
  }
  .socials {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    justify-content: center;
    max-width: 300px;
  }
}
.card-btns{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;


}

.btn-black{
  background-color: var(--btn-black);
}
// card
// project-scheme
.project-scheme{
  padding-top: 90px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 50px;
}
.scheme-sidebar{
  .scheme-sidebar_item{
    cursor: pointer;
  }
}
.scheme-sidebar, .scheme-sidebar_item{
  display: flex;
  flex-direction: column;
}
.scheme-sidebar_item{
  padding-bottom: 15px;
}
.scheme-img{
  img{
    width: 70px;
  }
}
.text{
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}
.text-green{
  color: var(--green);
}
.scheme-cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  height: fit-content;
}
.scheme-card{
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 20px;
  grid-gap: 20px;
  background: var(--back-blur);
  background-blend-mode: overlay;
  box-shadow: 1.5104e-15px 5px 20px rgba(51, 51, 51, 0.1);
  border-radius: 20px;
  height: fit-content;
}
.scheme-card_desc{
  .company{
    align-items: center;
    img{
      margin-right: 15px;
    }
  }
  textarea{
    resize: none;
  }
}
.scheme-card_desc{
  .fondlist-item{
    position: relative;
    .icon-delete{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }
  }
}
.tokenomic{
  position: relative;
  // border-radius: 20px;
  // background: url(/src/assets/images/project/tokenomisc.png) no-repeat;
  // background-position: center center;
  // background-size: cover;
  .blur{
    border-radius: 20px;
    position: absolute;
  }
  img{
    max-width: 450px;
    background-size: cover;
    border-radius: 20px;
  }
}
.list-standart{
  list-style: disc;
  margin-left: 20px;
  > li:not(:last-child){
    padding-bottom: 15px;
  }
}
.scheme-team{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}
.scheme-team_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text-main);
  position: relative;
  span{
    text-align: center;
  }
  .scheme-team_item-img{
    cursor: pointer;
    img{
      width: 100px;
    }
  }
  .icon-delete{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.icon-delete{
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(103%) contrast(103%);
}
.scheme-team_item:hover{
  opacity: 0.7;
}
.list-num{
  list-style: decimal;
  ol{
    list-style-type: decimal;
  }
}
.scheme-card_desc{
 .scheme-row:not(:last-child){
    margin-bottom: 20px;
 } 
}
.scheme-row{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 25px;
}
.scheme-card_roadmap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
}
.scheme-card_roadmap-img{
  .roadmap-img{
    width: 300px;
  }
  .news-form_gallery-delete{
    right: 0;
    top: 0;

  }
}
.scheme-card_roadmap-item{
  h6{
    font-size: 18px;
  }
}
.link-text{
  text-decoration: none;
  cursor: pointer;
}

// project-scheme
.el-bottom{
  .btn{
    width: 450px;
  }
  .rang{
    font-size: 26px;
  }
}
@media(max-width: 767px) {
  .card-project{
    grid-template-columns: 1fr;
  }
}