.scheme-card_roadmap-img{
  width: fit-content;
  img{
    max-width: 450px;
    background-size: cover;
    border-radius: 20px;
  }
}
.text-list{
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}