.c-footer{
  background: var(--back-primary);
  color: $white;
  font-family: $roboto, sans-serif;
  z-index: 2;
}
.footer-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 15px;
}
.footer-logo{
  display: flex;
  align-items: center;
}
.social-icons{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 13px;
}
.social-icon img{
  width: 20px;
  filter: invert(44%) sepia(82%) saturate(2%) hue-rotate(337deg) brightness(96%) contrast(82%);
}
.social-icon:hover img{
  filter: none;
}
.arrow-up{
  cursor: pointer;
}
.arrow-up img{
  max-height: 40px;
}
.footer-info{
  display: flex;
  grid-gap: 50px;
  align-items: center;
}
.footer-info_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media(max-width: 550px){
  .footer-inner{
    flex-direction: column;
    padding: 10px 0;
  }
  .social-icons{
    padding-top: 10px;
  }
}