.text-animation {
    position: relative;

    // font-size: 80px;
    // font-weight: 600;
    // color: #eee;
    // width: 100vw;
    // height: 200px;
    text-align: left;
    // line-height: 200px;
    // padding-left: 10px;
    // overflow: hidden;
}

.ecosystem-title span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form-div {
    display: flex;

    label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
}