body {
  font-family: $raleway;
  height: 100vh;
}

#app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $conthrax;
}

$backAdvance: (
  0: $back0,
  1: $back1,
  2: $back2,
  3: $back3,
  4: $back4,
  5: $back5,
  6: $back6,
  7: $back7,
  8: $back8,
  9: $back9,
  10: $back10,
  11: $back11,
);

@each $index,
$back in $backAdvance {
  .advance-item_back--#{$index} {
    background: $back;
  }
}

.c-main {
  margin-top: 72px;
  background-color: var(--back-primary);
  color: var(--text-main);
  flex: 1 1 auto;
}

.main-inner {
  margin: 0 15px;
}

.main-back {
  position: relative;
  background-image: url(../svg/backMain.svg);
  background-repeat: no-repeat;
  background-position: center -500px;
  width: 100%;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.invest-inner,
.advantages-inner,
.parthers-inner,
.roadmap-inner,
.team-inner {
  padding-top: 50px;
}

.intro-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  position: relative;
}

.intro-desc {
  align-self: flex-start;
}

.title-wrap .intro-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: .05em;
  line-height: 140%;
  position: relative;
  color: var(--text-main);
}

.intro-info {
  font-weight: 400;
  font-size: 20px;
  max-width: 510px;
  margin-top: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.ecosystem-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  position: relative;
  top: -60px;
}

.ecosystem-box {
  padding-bottom: 50px;
}

.eco-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.eco-item .eco-text:not(:last-child) {
  padding-bottom: 20px;
}

.eco-item_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;
}

.ecosystem-box .eco-item:nth-child(2) .eco-text {
  border-right: 1px solid var(--text-main);
  border-left: 1px solid var(--text-main);
  padding-left: 25px;
  padding-right: 25px;
}

.ecosystem-box .eco-item:nth-child(2) .eco-title {
  padding: 0 25px;
}

.ecosystem-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 15px;
  max-width: 610px;
}

// section investing


.invest-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
}

.invest-item {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $back-secondary;
  // background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
  background-blend-mode: overlay;
  // box-shadow: 1.5104e-15px 5px 20px rgba(51, 51, 51, 0.1);
  border-radius: 18px;
  transition: .5s ease;
}

.invest-item:hover {
  // box-shadow: 15px 5px 10px rgb(153 205 65 / 10%);
  scale: 1.1;
}

.invest-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 0px 10px rgba(155, 211, 60, 0.4));
}

.invest-item p {
  text-align: center;
}

// section investing

// section contract
.contract {
  padding: 35px;
  background: $back-secondary;
  border-radius: 12px;
  margin: 50px 0;
  transition: .5s ease;
}

.contract:hover {
  // box-shadow: -15px 5px 10px rgb(153 205 65 / 10%);
  scale: 1.01;
}

.contract-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contract-desc {
  display: flex;
  align-items: center;
}

.contract-img {
  margin-right: 15px;
  filter: drop-shadow(0px 0px 10px rgba(155, 211, 60, 0.4));
}

// section contract

// section advantages
.advantages {
  position: relative;
}

.advantages .circle1,
.advantages .circle2 {
  position: absolute;
  bottom: 30%;
  left: 25%;
  border-radius: 50%;
  box-shadow: 0 0 200px 125px #1E6978;
}

.advantages .circle2 {
  top: 30%;
  right: 25%;
  bottom: auto;
  left: auto;
  box-shadow: 0px 0px 180px 100px #1e6978;
}

.advantages-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.advance {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 18px;
}

.advance-item {
  padding: 20px;
  backdrop-filter: blur(0px);
  border-radius: 18px;
  background-blend-mode: normal, overlay;
  box-shadow: 1.5104e-15px 5px 20px rgba(51, 51, 51, 0.1);
  transition: .5s ease;
  // background: $back-secondary;
  // background: rgba(255, 255, 255, 0.11);
}

.advance-item:hover {
  scale: 1.04;
}

.advance-title {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 13px;
}

.duma-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

// section advantages

// section partners
.parthers-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 25px;
  align-items: center;
}

.parther-img {
  transition: .5s ease;
  // min-height: 120px;
}

.parther-img:hover {
  scale: 1.1;
}

// section partners

// section roadmap
.roadmap-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.roadmap-item {
  padding: 15px 30px;
  // background: var(--text-main);
  background: $back-secondary;
  border-radius: 18px;
  transition: .5s ease;
}

.roadmap-item:hover {
  scale: 1.01;
}

.roadmap-title {
  color: white;
  // color: #0D3E36;
  font-size: 24px;
  line-height: 44px;
  text-decoration: underline #92d919;
}

.roadmap-desc {
  // color: #595656;
  color: #cbcbcb;
  font-weight: 400;
  font-size: 13px;
  line-height: 125%;
}

.text-green {
  color: #92DA18;
}

// section roadmap

// section team
.team-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding-bottom: 80px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.team-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.team-img {
  margin-bottom: 10px;
}

.team-job {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  display: flex;
  margin-bottom: 15px;
}

.team-job img {
  margin-left: 10px;
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

// section team

// section info-social
.info-social {
  display: flex;
  justify-content: space-around;

  position: relative;
  background-image: url(../svg/backDown.svg);
  background-repeat: no-repeat;
  background-position: center -70px;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 30px;
  // z-index: 1;
}

// .main-back-down{
//   position: absolute;
//   bottom: -100px;
//   left: 50%;
//   transform: translate(-50%, 0);

// }
.info,
.social {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.info-social .btn {
  width: 250px;
}

.btn-green {
  background: var(--btn-green);
}

// .social{

// }
.social-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

// section info-social

// media
@media(max-width: 992px) {

  // investing
  .invest-item {
    padding: 15px;
  }
}

@media(max-width: 767px) {
  // main block

  .general-title {
    margin-top: 55px;
  }

  .intro-inner {
    padding: 25px 0;
  }

  .intro-inner img {
    display: none;
  }

  .ecosystem-box .eco-item:nth-child(2) .eco-title {
    padding: 0;
  }

  .ecosystem-box .eco-item:nth-child(2) .eco-text {
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .ecosystem-title {
    top: 0;
  }

  .ecosystem-box {
    padding-bottom: 25px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .ecosystem-text {
    background-color: var(--text-main);
    color: var(--back-primary);
    padding: 15px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    font-size: 14px;
  }

  .ecosystem-text1 {
    margin-bottom: 10px;
  }

  // main block

  // investing
  .invest-inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .invest-item img {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
  }

  .duma-text {
    font-size: 12px;
  }

  .invest-item:hover {
    scale: 1;
  }

  // investing

  // advantages 
  .advantages-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  // advantages 

  // roadmap 
  .roadmap-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  // roadmap 

  // team 
  .team-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  // team 
}

@media(max-width: 464px) {
  .general-title {
    margin-top: 25px;
    font-size: 24px;
  }

  .invest-inner,
  .advantages-inner,
  .parthers-inner,
  .roadmap-inner,
  .team-inner,
  .info-social {
    padding-top: 25px;
  }

  .invest-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .invest-item {
    height: stretch;
    height: -webkit-fill-available;
  }

  .advantages-inner {
    grid-template-columns: 1fr;
  }

  .advance {
    grid-gap: 15px;
  }

  .advance-item {
    padding: 15px;
  }

  .advance-item:hover {
    scale: 1;
  }

  .parther-img {
    max-height: 40px;
  }

  .parther-img:hover {
    scale: 1;
  }

  .roadmap-inner,
  .team-inner {
    grid-template-columns: 1fr;
  }

  .roadmap-item:hover {
    scale: 1;
  }

  .info-social {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .info,
  .social {
    justify-items: center;
  }

  .social-inner {
    grid-gap: 20px;
  }

  // team
  .team-inner {
    grid-template-columns: 1fr;
  }

  .team-name {
    font-size: 20px;
  }

  .team-job {
    font-size: 20px;
  }

  .team-text {
    font-size: 14px;
  }
}