$black:#000000;
$blue:#1872DB;
$back-primary: #191E21;
$back-secondary: #272C31;
$white: #FFFFFF;
$olive: #73993B;
$green-light: #99CD41;
$grey-dark: #97999B;
$grey: #C0C0C0;
$raleway: 'Raleway', sans-serif;
$conthrax: 'Conthrax', sans-serif;
$roboto: 'Roboto', sans-serif;

.bold{
  font-weight: 700;
}
