$black:#000000;
$blue:#1872DB;
$back-primary: #191E21;
$back-secondary: #272C31;
$white: #FFFFFF;
$olive: #73993B;
$filterOlive: invert(59%) sepia(22%) saturate(1079%) hue-rotate(42deg) brightness(92%) contrast(81%);
$green-light: #99CD41;
$bordo: #993B5D;
$pink: #C95688;
$grey-dark: #97999B;
$grey: #C0C0C0;
$dashboard: #303437;
// fonts
$raleway: 'Raleway', sans-serif;
$conthrax: 'Conthrax', sans-serif;
$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;

$indents:(
  0: 0px,
  5: 5px,
  10: 10px, 
  15: 15px, 
  20: 20px, 
  25: 25px, 
  30: 30px, 
  35: 35px, 
  40: 40px, 
  45: 45px, 
  50: 50px, 
  55: 55px, 
  60: 60px,
  65: 65px, 
  70: 70px, 
  75: 75px, 
);

@each $index,$indent in $indents{
  .mt-#{$index}{
    margin-top: $indent!important;
  }
}

.bold{
  font-weight: 700;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: $back-primary;
}
::-webkit-scrollbar-thumb{
  background: $green-light;
  border-radius: 8px;
  border: 1px solid $back-primary;
}