:root {
  --text-main: white;
  --btn-standart: #0B78B5;
  --btn-gradient: linear-gradient(268.2deg, #0056D8 -24.95%, rgba(170, 255, 98, 0) 162.48%), #6CAC10;
  --btn-green: linear-gradient(270deg, rgba(146, 218, 24, 0.76) -17.91%, rgba(0, 139, 255, 0) 117.19%), #73993B;;
  --btn-black:#191E21;
  --back-primary:#191E21;
  --back-secondary: #303437;
  --green: #99CD41;
  --black: #000000;
  --back-blur:linear-gradient(180deg, rgba(255, 255, 255, 0.25) 12.55%, rgba(255, 255, 255, 0.2) 33.51%, rgba(255, 255, 255, 0.2) 59.66%);
}

:root[theme='test'] {
  --text-main: black;
  --back-primary: #C0C0C0;
  --back-secondary: #8d8d8d;
}

$white: #FFFFFF;
$black: #000000;
$blue: #1872DB;
$back-primary: #191E21;
$back-secondary: #272C31;

$olive: #73993B;
$filterOlive: invert(59%) sepia(22%) saturate(1079%) hue-rotate(42deg) brightness(92%) contrast(81%);
$green-light: #99CD41;
$bordo: #993B5D;
$pink: #C95688;
$grey-dark: #97999B;
$grey: #C0C0C0;
$dashboard: #303437;
// background
$back0: linear-gradient(180deg, rgba(23, 74, 255, 0.5) -55.8%, rgba(112, 0, 255, 0) 130.07%), linear-gradient(180deg, rgba(255, 255, 255, 0.5) 12.55%, rgba(255, 255, 255, 0.3) 78.66%);
$back1: linear-gradient(180deg, rgba(115, 255, 5, 0.07) 0%, rgba(154, 210, 57, 0.12) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
$back2: linear-gradient(180deg, rgba(158, 66, 247, 0.168) 0%, rgba(255, 119, 0, 0.3) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
$back3: linear-gradient(180deg, rgba(4, 141, 255, 0.376) 0%, rgba(255, 0, 0, 0.12) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.376) 12.55%, rgba(255, 255, 255, 0.4375) 42.51%, rgba(255, 255, 255, 0.312) 78.66%);
$back4: linear-gradient(0deg, rgba(157, 57, 57, 0.2), rgba(157, 57, 57, 0.2)), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
$back5: linear-gradient(180.22deg, rgba(4, 255, 165, 0.2) -4.72%, rgba(44, 208, 149, 0.082) -4.71%, rgba(0, 255, 255, 0.2) 125.43%), linear-gradient(180deg, rgba(255, 255, 255, 0.376) 12.55%, rgba(255, 255, 255, 0.4375) 42.51%, rgba(255, 255, 255, 0.312) 78.66%);
$back6: linear-gradient(180deg, rgba(255, 153, 0, 0.1776) -68.21%, rgba(255, 204, 0, 0) 155.63%), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
$back7: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), linear-gradient(180.65deg, rgba(81, 253, 0, 0.405) -44.18%, rgba(0, 56, 253, 0.265) 145.5%);
$back8: linear-gradient(180deg, rgba(255, 0, 199, 0.062) -25.21%, rgba(255, 0, 0, 0.064) 130.58%), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
$back9: linear-gradient(180.13deg, rgba(4, 141, 255, 0.61) -72.39%, rgba(255, 255, 255, 0.39) 152.98%, rgba(4, 141, 255, 0.65) 152.98%);
$back10: linear-gradient(180deg, rgba(219, 237, 17, 0.22) 0%, rgba(255, 41, 195, 0.155) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
$back11: linear-gradient(180.35deg, rgba(0, 86, 252, 0.119) 0.31%, rgba(106, 27, 154, 0.357) 106.36%), linear-gradient(180deg, rgba(255, 255, 255, 0.47) 12.55%, rgba(255, 255, 255, 0.546875) 42.51%, rgba(255, 255, 255, 0.39) 78.66%);
// fonts
$raleway: 'Raleway', sans-serif;
$conthrax: 'Conthrax', sans-serif;
$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;

$indents: (
  0: 0px,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  40: 40px,
  45: 45px,
  50: 50px,
  55: 55px,
  60: 60px,
  65: 65px,
  70: 70px,
  75: 75px,
);

@each $index,
$indent in $indents {
  .mt-#{$index} {
    margin-top: $indent !important;
  }
  .mb-#{$index}{
    margin-bottom: $indent !important;
  }
  .mr-#{$index}{
    margin-right: $indent !important;
  }
  .ml-#{$index}{
    margin-left: $indent !important;
  }
  .pt-#{$index} {
    padding-top: $indent !important;
  }
  .pb-#{$index}{
    padding-bottom: $indent !important;
  }
  .pr-#{$index}{
    padding-right: $indent !important;
  }
  .pl-#{$index}{
    padding-left: $indent !important;
  }
}
// style general
.general-title {
  font-weight: 600;
  font-family: $conthrax;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-top: 100px;
}
.general-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.bold {
  font-weight: 700;
}
// style general
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $back-primary;
}

::-webkit-scrollbar-thumb {
  background: $green-light;
  border-radius: 8px;
  border: 1px solid $back-primary;
}