.icon {
  width: 20px;
}

// текстовые модификаторы
.text-more {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-underline {
  text-decoration: underline var(--text-main);
}

.text-green {
  color: var(--green) !important;
}

.ttu {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

// сообщение об ошибке незаполненной формы
.wrap-error {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);


  .wrap-error_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .wrap-error_content {
      background-blend-mode: overlay;
      border-radius: 20px;
      max-width: 475px;
      width: 100%;
      position: relative;
      padding: 35px;
      background: rgba(227, 52, 52, 0.5);
      color: red;
      font-size: 30px;
      border: 1px solid red;
    }

  }
}

// текстовые модификаторы

// фигуры, линии, круги
.line-green {
  border-right: 2px solid var(--green);
  padding-right: 15px;
  margin-right: 15px;
}

// фигуры, линии, круги

// флексбоксы
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// флексбоксы

// grid
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

// grid

// различные иконки
.icon-status {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 25px;
  height: 25px;
}

// различные иконки

// buttons active
// главная кнопка по умолчанию синего цвета
.btn {
  text-transform: uppercase;
  font-weight: 600;
  // font-size: 12px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: var(--text-main);
  background: var(--btn-standart);
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  height: 40px;
}

// неактивная кнопка
.btn-disabled {
  cursor: default;
  opacity: 0.7;
}

.btn-green {
  background: var(--btn-green);
}

.btn-black {
  background-color: var(--btn-black);
}

.btn-gradient {
  background: var(--btn-gradient);
  text-align: center;

  img {
    display: none;
  }
}

.btn-bordo {
  background: $bordo;
  border: 1px solid $pink;
}

.btn-passive {
  background: $grey-dark;
  border: 1px solid $grey;
  cursor: default;
}

// buttons end
// inputs
.admin-input {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  background: $back-primary;
  color: var(--text-main);
  width: 100%;
  text-align: center;
}

.input-password {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  background: $back-primary;
  color: var(--text-main);
  width: 100%;
  position: relative;
}

// inputs

// заглушка нет записей
.list-notFound {
  position: relative;
  height: 300px;
}

.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 24px;
    font-family: $conthrax;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

// заглушка нет записей



// временная смена пароля
.block-change {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

// выпадающий список с заголовком
.thema-dropdown {
  // padding: 10px;
  background: var(--back-primary);
  border-radius: 8px;
  display: flex;

  .accordeon-item {
    margin-bottom: 0;
    width: 100%;

    .accordeon-header {
      background: transparent;
      border: none;
    }

    .accordeon-list {
      position: absolute;
      top: 100%;
      background: var(--back-primary);
      box-shadow: none;

      // .list-item:first-child {
      //   border-top: 1px solid #474c5a;
      // }
    }
  }
}

.title-thema {
  padding: 10px;
  border-right: 1px solid #474c5a;
  display: flex;
  justify-content: center;
  align-items: center;
}