@font-face {
	font-family: 'Raleway';
	src: url('/src/assets/fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Conthrax';
	src: url('/src/assets/fonts/Conthrax-sb.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	src: url('/src/assets/fonts/Inter-Medium.ttf') format('truetype');
}